/*buttons*/
.candidates-buttons button {
    border-style: solid;
    border-radius: 6px;
    border-color: lightgrey;
    box-shadow: 3px 6px 14px 1px lightgrey;
}
#candidates-edit-button {
    float: right;
    width: 110px;
    height: 78px;
    border-style: solid;
    border-radius: 6px;
    border-color: lightgrey;
    box-shadow: 3px 6px 14px 1px lightgrey;
}
#candidates-view-resume-butt {
    width: 150px;
    margin-left: 6px;
    border-color: transparent;
}
#candidates-view-resume-butt i {
    color: #9768cc;
}
#candidates-invite-butt {
    background: #403e94;
    border-color: transparent;
}
#candidates-invite-butt i {
   color: white;
}


/*Bottom block*/
.candidates-bottom-block div {
    margin-bottom: 10px;
}

.candidates-skills div, .candidates-personal-qualities div {
    display: inline;
}

.candidates-skills-list div, .candidates-qualities-list div {
    display: inline-block;
}

.candidates-skills > label, .candidates-personal-qualities >label {
    color: #0a0a0a;
    font-size: 20px;
    margin-right: 10px;
}

.candidates-skills > div > i, .candidates-personal-qualities > div > i {
    margin-right: 10px;
    cursor: pointer;
    font-size: 20px;
    -webkit-transition: all .5s;
    -moz-transition: all .5s;
    -o-transition: all .5s;
    transition: all .5s;
}

.candidates-skills > div > i:hover, .candidates-personal-qualities > div > i:hover {
    -ms-transform: scale(1.2);
    -moz-transform: scale(1.2);
    -webkit-transform: scale(1.2);
    -o-transform: scale(1.2);
    transform: scale(1.2);
}




/*media queries*/
@media (max-width : 1920px) {
    #candidates-edit-button {
        width: 70px;
        height: 4vw;
    }
}

@media (max-width : 992px) {
    #candidates-edit-button {
        width: 64px;
        height: 5vw;
    }
}

@media (max-width : 600px) {
    #candidates-edit-button {
        width: 56px;
        height: 7vw;
    }
}