html,
body {
    background: white;
}

button:active, button:focus {
    outline: none;
}

button::-moz-focus-inner {
    border: 0;
}


/*Header*/
.header {
    background: none;
    border: none;
    height: 60px;
    position: static;
    border-bottom: 1px solid lightgrey;
    border-top: 1px solid lightgrey;
}
.header-right {
    float: right;
}
.header div {
    display: inline-block;
    margin-top: 15px;
}
.header > div, .header div a {
    color: #9400D3;
    outline: none;
    text-decoration: none;
}


/*Style for top social buttons*/
.mini-social-butt > i {
    padding: 4px;
    cursor: pointer;
    -webkit-transition: all .5s;
    -moz-transition: all .5s;
    -o-transition: all .5s;
    transition: all .5s;
}
.mini-social-butt > i:hover {
    -ms-transform: scale(1.2);
    -moz-transform: scale(1.2);
    -webkit-transform: scale(1.2);
    -o-transform: scale(1.2);
    transform: scale(1.2);
}
.star {
    display: block;
    margin-left: auto;
    margin-right: auto;
    max-width: 50%;
}

/*Progress bars block*/
.inden {
    margin-top: 15px;
    margin-bottom: 15px;
    height: 80px;
}
.inden > div {
    margin: auto;
}
.left-side {
    max-width: 180px;
    min-width: 80px;
    border: 1px solid white;
    box-shadow: 7px 1px 31px 9px lightgrey;
    text-align: left;
    border-radius: 4px;
    line-height: 1.2;
    padding: 7px;
    float: left;
    margin-top: 0;
}
.circular-bar canvas {
    width: 80px;
    float: right;
}
.circular-bar label {
    font-size: 14px;
    margin: 0 auto;
    position: absolute;
    top: 30%;
    left: 65%;
}


/*Style for bottom social buttons*/
.company-social-networks {
    margin-top: 50px;
}
.company-social-networks > i {
    font-size: 100px;
    padding: 4px;
    cursor: pointer;
    -webkit-transition: all .5s;
    -moz-transition: all .5s;
    -o-transition: all .5s;
    transition: all .5s;
}
.company-social-networks > i:hover {
    -ms-transform: scale(1.2);
    -moz-transform: scale(1.2);
    -webkit-transform: scale(1.2);
    -o-transform: scale(1.2);
    transform: scale(1.2);
}


/*Assesment & Profile Buttons*/
.company-tabs {
    margin-bottom: 35px;
    margin-top: 20px;
    border: none;
    background-color: white;
    border-radius: 10px 10px 0 0;
    width: 400px;
}
.company-tabs > a {
    margin-right: 6px;
    width: 200px;
    color: white;
    background-color: #59068a;
    text-align: center;
}
.nav-tabs .nav-link.active {
    color:#777;
    background-color: #fff;
    border-color: lightgrey;
    border-bottom: none;
}


#editButt {
    float: right;
    width: 110px;
    height: 78px;
    border-style: solid;
    border-radius: 6px;
    border-color: lightgrey;
    box-shadow: 3px 6px 14px 1px lightgrey;
}


/*Profile block*/
#company-profile .row > div > i {
    width: 100%;
    margin-bottom: 7px;
}
#company-profile .span1, #company-profile .span2 {
    font-family: "Open Sans", Arial, sans-serif;
    font-size: 13px;
    line-height: 22px;
}
#company-profile .span2 > span {
    width: auto;
    height: auto;
    background: lightgrey;
    padding: 2px;
    margin-right: 6px;
    border-radius: 4px;
}
#company-profile .span1 {
    color: #6c6c6c;
}
#company-profile .span2 {
    color: #0a0a0a;
}
.company-information-fields {
    margin-top: 40px;
}
.company-information-fields > div {
    margin-bottom: 30px;
}
.company-information-fields > div > label {
    color: #0a0a0a;
    font-size: 20px;
}
.company-contacts {
    background: lightgrey;
    margin-top: 20px;
    margin-bottom: 20px;
    border-radius: 4px 4px 4px 4px;
}
.company-contacts > div > div {
    padding-left: 34px;

}
.company-contacts #spanContacts, .company-location #spanLocation {
    margin-top: 15px;
    font-family: "Open Sans", Arial, sans-serif;
    font-size: 13px;
    color: #0a0a0a;
}
.company-location {
    margin-top: 20px;
}
.company-rows-location {
    margin-left: 2px;
}
.mini-icons {
    padding-top: 10px;
}


/*Circle progress bar*/
#ChartistCSSAnimation .ct-series.ct-series-a .ct-line {
    fill: none;
    stroke-width: 4px;
    stroke-dasharray: 5px;
    -webkit-animation: dashoffset 1s linear infinite;
    -moz-animation: dashoffset 1s linear infinite;
    animation: dashoffset 1s linear infinite;
}

#ChartistCSSAnimation .ct-series.ct-series-b .ct-point {
    -webkit-animation: bouncing-stroke 0.5s ease infinite;
    -moz-animation: bouncing-stroke 0.5s ease infinite;
    animation: bouncing-stroke 0.5s ease infinite;
}

#ChartistCSSAnimation .ct-series.ct-series-b .ct-line {
    fill: none;
    stroke-width: 3px;
}

#ChartistCSSAnimation .ct-series.ct-series-c .ct-point {
    -webkit-animation: exploding-stroke 1s ease-out infinite;
    -moz-animation: exploding-stroke 1s ease-out infinite;
    animation: exploding-stroke 1s ease-out infinite;
}

#ChartistCSSAnimation .ct-series.ct-series-c .ct-line {
    fill: none;
    stroke-width: 2px;
    stroke-dasharray: 40px 3px;
}

@-webkit-keyframes dashoffset {
    0% {
        stroke-dashoffset: 0px;
    }
    100% {
        stroke-dashoffset: -20px;
    }
}

@-moz-keyframes dashoffset {
    0% {
        stroke-dashoffset: 0px;
    }
    100% {
        stroke-dashoffset: -20px;
    }
}
@keyframes dashoffset {
    0% {
        stroke-dashoffset: 0px;
    }
    100% {
        stroke-dashoffset: -20px;
    }
}

@-webkit-keyframes bouncing-stroke {
    0% {
        stroke-width: 5px;
    }
    50% {
        stroke-width: 10px;
    }
    100% {
        stroke-width: 5px;
    }
}

@-moz-keyframes bouncing-stroke {
    0% {
        stroke-width: 5px;
    }
    50% {
        stroke-width: 10px;
    }
    100% {
        stroke-width: 5px;
    }
}

@keyframes bouncing-stroke {
    0% {
        stroke-width: 5px;
    }
    50% {
        stroke-width: 10px;
    }
    100% {
        stroke-width: 5px;
    }
}

@-webkit-keyframes exploding-stroke {
    0% {
        stroke-width: 2px;
        opacity: 1;
    }
    100% {
        stroke-width: 20px;
        opacity: 0;
    }
}

@-moz-keyframes exploding-stroke {
    0% {
        stroke-width: 2px;
        opacity: 1;
    }
    100% {
        stroke-width: 20px;
        opacity: 0;
    }
}

@keyframes exploding-stroke {
    0% {
        stroke-width: 2px;
        opacity: 1;
    }
    100% {
        stroke-width: 20px;
        opacity: 0;
    }
}




/*media queries*/
@media (max-width : 1920px) {
    .company-social-networks > i {
        font-size: 4vw;
    }
    #editButt {
        width: 70px;
        height: 4vw;
    }
    .circular-bar label {
        font-size: 17px;
        left: 60%;
    }
    .circular-bar canvas {
        width: 70px;
    }
}

@media (max-width : 992px) {
    .twoButtons button {
        width: 30%;
        height: 5vw;
        font-size: 110%;
    }
    .company-social-networks > i {
        font-size: 5vw;
    }
    #editButt {
        width: 64px;
        height: 5vw;
    }
    .company-contacts .rows div {
        width: 50%;
        margin-bottom: 15px;
    }
    .circular-bar label {
        font-size: 16px;
        left: 50%;
    }
    .circular-bar canvas {
        width: 60px;
    }
}

@media (max-width : 600px) {
    .company-tabs {
        width: 220px;
    }
    .company-tabs > a {
        width: 110px;
    }
    .company-social-networks > i {
        font-size: 30px;
    }
    #editButt {
        width: 56px;
        height: 7vw;
    }
    .left-side {
        font-size: 10px;
    }
    .circular-bar-col {
        padding-left: 0;
    }
    .circular-bar label {
        font-size: 14px;
    }
    .circular-bar canvas {
        width: 50px;
    }
}